.button-functions{
    background: #EBEBEB;

}

.answer-container {
    background-color: #FFECD7;
    width: 50%;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}
.answer-container-error {
    background-color: #B70F0A;
    color: #FFFFFF;
    width: 50%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.button-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    font-weight: bold;
    color: black;
}

.button-container button {
    color: black;
    background-color: #EBEBEB;
    width: 120px;
    height: 25px;
    border-radius: 4px;
}

.answer-container p {
    display: block;
    /* Ensure each <p> is on a new line */
    margin-bottom: 0.5em;
    /* Add space between paragraphs */
}